{% extends "base.html" %}

{% block content %}
  <h1>
    TODO list
    <a href="{% url 'todo:task-create' %}" class="btn btn-primary link-to-page">Add task</a>
  </h1>

  {% if task_list %}
    {% for task in task_list %}
      <div class="card mb-3">
        <div class="card-body">

          <h5>{{ task.content }}
            {% if task.is_done %}
              <span class="badge bg-success">Done</span>
            {% else %}
              <span class="badge bg-danger">Not done</span>
            {% endif %}
          </h5>

          <p>Created: {{ task.created_at }}</p>
          {% if task.deadline %}
            <p>Deadline: <span class="text-danger fw-bold">{{ task.deadline }}</span></p>
          {% endif %}

          <p>Tags:
            {% for tag in task.tags.all %}
              <span class="badge bg-secondary me-1">{{ tag.name }}</span>
            {% endfor %}
          </p>

          <div class="d-flex justify-content-between">
            <div>
              <a href="{% url 'todo:task-update' pk=task.id %}" class="btn btn-primary">Update</a>
              <a href="{% url 'todo:task-delete' pk=task.id %}" class="btn btn-danger">Delete</a>
            </div>
            <div>
              {% if task.is_done %}
                <form method="post" action="{% url 'todo:task-toggle' task.pk %}" style="display: inline;">
                  {% csrf_token %}
                  <input type="submit" value="Undo" class="btn btn-secondary">
                </form>
              {% else %}
                <form method="post" action="{% url 'todo:task-toggle' task.pk %}" style="display: inline;">
                  {% csrf_token %}
                  <input type="submit" value="Complete" class="btn btn-success">
                </form>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>There are no tasks in TODO</p>
  {% endif %}
{% endblock %}